<%- include('./partials/header.ejs') %>
<body>
    <div class="container-2">
        <header id="navbar">
            <a href="/home/<%= username %>"><h1 class="h1-2-lg">My Books</h1></a>
            <div class="flex gap-10">
                <a href="/new/<%= username %>"><button class="btn-2 flex item-center gap-5">Add <span class="text-2">+</span></button></a>
                <a href="/logout"><button class="btn-5 flex item-center gap-5">Logout</button></a>
            </div>
        </header>
        <% if(locals.books){ %>
            <h2 class="h2-2-lg mb-30"><%= name %>'s Collection</h2>
            <div class="container-3">
                <% books.forEach(book => { %>
                    <div class="box border">
                        <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" alt="" class="img-m img-shadow">
                        <h3 class="h3-2-lg capitalized"><%= book.title %> <span class="text-light-sm">(<%= book.rating %>/10)</span></h3>
                        <p class="text-para cutoff-text mb-20"><%= book.summary %></p>
                        <a href="/books/<%= username %>/<%= book.id %>"><button class="btn-3">Read More</button></a>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <div class="container-0">
                <img src="/images/no books.png" alt="" id="no-image">
            </div>
        <% } %>
    </div>
</body>
<%- include('./partials/footer.ejs') %>